* {
    /* margin: 0; */
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
    position: relative;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    width: 100%;
    height: 90%;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    position: relative;
}

.navBar,
.smallBanner,
.firstContent,
.secondContent,
.thirdContent,
.fourthContent,
.fifthContentContainer,
.footerUpper,
.footerLower {
    width: 75%;
    margin: auto;
    height: 100px;
    max-width: 72%;
    clear: both;
    box-sizing: border-box;
}

.navBar-logo img {
    width: 56%;
}

.navBar-logo {
    float: left;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul.navBar-links {
    float: right;
    line-height: 50px;
    margin: 0;
}

.header-content {
    clear: both;
    width: 60%;
    margin: auto;
    position: absolute;
    left: 20%;
    top: 20%;
    z-index: 2;
}

ul.navBar-links li {
    float: left;
    padding-left: 25px;
}

ul.navBar-links li.navBar-hideMenu {
    position: absolute;
    border: none;
    right: 0;
    top: 0;
    display: none;
}

.navBar-showMenu {
    float: right;
    display: none;
}

ul.navBar-links li a {
    color: #184f68;
}

li.navBarButton a {
    position: relative;
    background-color: #ff3c58;
    color: #ffffff!important;
    text-align: center;
    padding: 10px 15px;
    transition: 0.4s;
}

li.navBarButton a span {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transition: 0.4s;
}

li.navBarButton a:hover span {
    background-color: #00000061;
}

.header-contet-text-upper {
    white-space: nowrap;
    font-size: 95px;
    line-height: 95px;
    font-weight: 400;
    color: rgb(24, 79, 104);
    letter-spacing: 1px;
    font-family: Roboto;
}

.navBar-container {
    /* overflow: hidden; */
    /* height: 100%; */
}

.navBar-fixed {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 50px;
    animation: navBar-fixed .6s forwards;
}

@-webkit-keyframes navBar-fixed {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

.smallBanner {
    width: 60%;
    margin: auto;
    padding: 70px 0;
    font-size: 29px;
    line-height: 39px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #184f68;
}

.mainWrapper {
    width: 100%;
}

.smallBannerContainer {
    background-image: url(../images/smallBanner.jpg);
    background-size: cover;
    background-position: center top;
}

.smallBanner span:after {
    content: '';
    width: 99%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translateX(-50%);
}

.smallBanner span {
    position: relative;
    cursor: pointer;
}

.header-contet-text-lower {
    white-space: nowrap;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: rgb(24, 79, 104);
    letter-spacing: 0px;
    font-family: "Open Sans";
}

.header-contet-text-lower span {
    color: rgb(255, 60, 88);
}

.firstContent {
    width: 75%;
    margin: auto;
    box-sizing: border-box;
}

.firstContent-left {
    width: 42%;
    float: left;
    box-sizing: border-box;
    padding: 100px 15% 85px 0;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    height: 484px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.firstContent-right {
    width: 58%;
    float: right;
    box-sizing: border-box;
    padding: 100px 5% 85px 5%;
    border-bottom: 1px solid #ebebeb;
    height: 484px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.firstContent-left h3,
.secondContent-rightLeft h3,
.secondContent-rightRight h3,
.thirdContent-left a {
    font-size: 28px;
    line-height: 42px;
    /* font-weight: 500; */
    letter-spacing: 0px;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    color: #184f68;
}

.firstContent-left h3 span {
    color: #3fd9d9;
    display: block;
}

.firstContent-left p,
.firstContent-right p,
.secondContent-rightLeft p,
.secondContent-rightRight p,
.thirdContent-left p,
.thirdContent-right p,
.fifthContent-left p {
    margin: 0 0 15px;
    color: #184F68;
    font-size: 13px;
}

.firstContent p span {
    color: #3fd9d9;
}

.firstContent-right h2,
.thirdContent-right h2,
.fifthContent-left h2 {
    font-size: 32px;
    line-height: 65px;
    font-weight: 500;
    letter-spacing: -2px;
    color: #184f68;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
}

.firstContent-right div:last-child p,
.firstContent-right div:last-child button {
    width: 50%;
}

.firstContent-right div:last-child p,
.thirdContent-right div p {
    width: 60%;
    float: left;
    margin: 0;
}

.firstContent-right div:last-child button,
.thirdContent-right div button,
.fourthContent button,
.fifthContent-left button {
    float: right;
    width: 34%;
    background-color: #3fd9d9;
    color: #ffffff;
    border: none;
    padding: 11px 20px;
    cursor: pointer;
    transition: 0.4s;
}

.firstContent-right div:last-child button:hover,
.fourthContent button:hover {
    background-color: #3BCACA;
}

.secondContent,
.thirdContent {
    clear: both;
    width: 75%;
    margin: auto;
    height: 100%;
}

.secondContent-left,
.thirdContent-left {
    background-size: cover;
    width: 42%;
    float: left;
    box-sizing: border-box;
}

.secondContent-right,
.thirdContent-right {
    width: 58%;
    float: right;
    padding: 100px 5% 85px 5%;
    box-sizing: border-box;
}

.secondContent-rightLeft,
.secondContent-rightRight {
    width: 48%;
    box-sizing: border-box;
    padding: 0px 0px;
}

.secondContent-rightLeft {
    float: left;
}

.secondContent-rightRight {
    float: right;
}

.secondContent-right h6,
.fourthContent h6 {
    font-size: 13px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 6px;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    color: #ff3c58;
    text-transform: uppercase;
}

.thirdContent-left {
    background-image: url(https://themes.muffingroup.com/be/dentist3/wp-content/uploads/2019/06/home_dentist3_pic29.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding: 225px 0% 50px 0;
    background-size: auto;
}

.thirdContent-left div:first-child {
    color: #3fd9d9;
}

.thirdContent-left a {
    display: block;
    width: 50%;
    font-size: 24px;
    line-height: 24px;
    margin: 26px 0;
}

.thirdContent-right h2,
.fifthContent-left h2 {
    line-height: 32px;
}

.thirdContent-right div button,
.fifthContent-left button {
    background-color: #ffffff;
    color: #ff3c58;
}

.thirdContent-right div button:hover,
.fifthContent-left button:hover {
    background-color: #EDEDED;
}

.thirdContent-right p,
.fifthContent-left p {
    margin: 40px 0;
}

.fourthContent {
    text-align: center;
    position: relative;
    height: 630px;
    padding: 126px 0px;
}

.fourthContent p {
    background: none;
    line-height: 25px;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    color: #444444;
    font-size: 14px;
    /* margin: 0 0 35px 25px; */
}

.cardContainer {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.card {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(0%);
}

.card.cardActive {
    opacity: 1;
    visibility: visible;
}

.cardControl,
.fourthContent button {
    position: absolute;
    bottom: 21%;
    left: 50%;
    transform: translateX(-50%);
    width: 21%;
    font-size: 12px;
}

.cardControl {
    bottom: 31%;
}

i.fas.fa-circle.cardControlActive {
    color: #3fd9d9;
}

.cardControl i {
    cursor: pointer;
    margin: 0 10px;
}

.card img {
    border-radius: 50%;
}

.cardRightClickCurrent {
    animation: cardRightClickCurrent 1s forwards;
}

@-webkit-keyframes cardRightClickCurrent {
    from {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateX(-100%);
    }
}

.cardRightClickNext {
    animation: cardRightClickNext 1s forwards;
}

@-webkit-keyframes cardRightClickNext {
    from {
        opacity: 1;
        visibility: visible;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }
}

.cardLeftClickCurrent {
    animation: cardLeftClickCurrent 1s forwards;
}

@-webkit-keyframes cardLeftClickCurrent {
    from {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateX(100%);
    }
}

.cardLeftClickPre {
    animation: cardLeftClickPre 1s forwards;
}

@-webkit-keyframes cardLeftClickPre {
    from {
        opacity: 1;
        visibility: visible;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }
}

.fifthContent {
    width: 100%;
    height: 500px;
    background-image: url(../images/51.jpg);
    background-size: cover;
    background-position: center top;
}

.fifthContent-left {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.fifthContentContainer {
    height: 100%;
}

.fifthContent-left h2 {
    font-size: 35px;
}

.fifthContent-left button {
    height: 7%;
    width: 37%;
    background: none;
}

footer.footer {
    clear: both;
    float: none;
    width: 100%;
    box-sizing: border-box;
}

.footerUpper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 80%;
    margin-bottom: 114px;
}

.footerLower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    position: relative;
}

.footer-links a {
    color: #3e3e3e;
}

.footer-links a:hover {
    color: #3fd9d9;
    text-decoration: underline;
}

.footer-links i {
    color: #3fd9d9;
    font-size: 10px;
    width: 16px;
}

.footer-info p {
    margin: 0;
    margin: 11px 0;
}

.footer-info h6 {
    margin: 0;
}

.footerLower:before {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #3e3e3e5e;
    top: 0;
}

.footerLowerWrapper:before {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: #3e3e3e5e;
}

.footerWrapper {
    width: 100%;
    position: relative;
}

.footerLower-scrollTop i {
    cursor: pointer;
}

.footerLower-text,
.footerLower-scrollTop {
    color: #757575;
}

.footerLower-text a {
    color: #3e3e3e;
}

.footerLower-text a:hover {
    text-decoration: underline;
    color: #3fd9d9;
}

@-webkit-keyframes navBar-links-appear {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@-webkit-keyframes navBar-links-disappear {
    to {
        transform: translateX(100%);
    }
    from {
        transform: translateX(0%);
    }
}


/* Responsive */

@media only screen and (max-width: 1240px) {
    ul.navBar-links {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 200px;
        z-index: 999;
        background-color: #191919;
        border-color: #191919;
        box-sizing: border-box;
        transition: 0.4s;
        transform: translateX(100%);
    }
    .navBar-showMenu {
        display: block;
        font-size: 30px;
        line-height: 100px;
        color: #3fd9d9;
        cursor: pointer;
    }
    ul.navBar-links li {
        float: none;
        display: block;
        border-bottom: 1px solid #423939a8;
        padding: 8px 15px;
    }
    ul.navBar-links li:first-child {
        margin-top: 95px;
        border-top: 1px solid #423939a8;
    }
    ul.navBar-links li a {
        display: block;
        color: #A6A6A6;
        transition: 0.4s;
    }
    ul.navBar-links li a:hover,
    ul li.navBarButton:hover,
    ul.navBar-links li.navBar-hideMenu:hover {
        color: white;
    }
    ul.navBar-links {
        line-height: normal;
    }
    ul li.navBarButton {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        padding: 0;
        width: 85%;
    }
    .navBar-links-appear {
        animation: navBar-links-appear .5s forwards;
    }
    .navBar-links-disappear {
        animation: navBar-links-disappear .5s forwards;
    }
    ul.navBar-links li.navBar-hideMenu {
        display: block;
        color: #A6A6A6;
        transition: 0.4s;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1172px) {
    .smallBanner {
        width: 60%;
        margin: auto;
        padding: 70px 0;
        font-size: 29px;
        line-height: 39px;
        font-weight: 500;
        letter-spacing: 0px;
        color: #184f68;
    }
}

@media only screen and (max-width: 767px) {
    .firstContent {
        height: 100%;
    }
    .firstContent-left,
    .firstContent-right {
        float: none;
        display: block;
        width: 100%;
        display: none;
    }
    .firstContent-right {
        padding: 65px 5% 85px 5%;
    }
    .secondContent-right,
    .secondContent-left,
    .secondContent-rightLeft,
    .secondContent-rightRight,
    .thirdContent-left,
    .thirdContent-right {
        float: none;
        display: block;
        width: 100%;
    }
    .footerUpper {
        display: block;
    }
    .footerLower {
        flex-direction: column-reverse;
        justify-content: space-around;
    }
}