* {margin: 0; padding: 0}

header.header {
    width: 100%;
    height: 45px;
    background-color: #2C2C2C;
    color: #bbbbbb;
    font-size: 14px;
}

.headerContent {
    display: flex;
    justify-content: space-between;
}

.headerLeft,
.headerRight {
    display: flex;
    flex-direction: row;
    height: 45px;
    line-height: 45px;
    /* display: inline; */
}


.headerRight a {
    color: #bbbbbb;
    text-decoration: none;
    padding-left: 8px;
    transition: 0.4s;
}

.headerRight a:hover {
    color: white;
}

.headerLeft p {margin-right: 8px;}

.headerLeft p i {
    margin-right: 5px;
}

.headerLeft a {
    color: #0095eb;
}

html, body {
    width: 100%;
}

.mainContent {
    width: 100%;
    height: 100%;
}

nav.navBar {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nabBarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.navBarLeft_logo {}

span.nanBarLeft_logo_be {
    color: #0095eb;
}

.navBarRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.navBaright_leftLinks li {
    list-style: none;
    padding-right: 45px;
}

ul.navBaright_leftLinks li a {
    color: #6a6c74;
    text-decoration: none;
    transition: 0.4s;
}

ul.navBaright_leftLinks li a:hover {
	color: #0095eb;
}

ul.navBaright_leftLinks {
    display: flex;
    height: inherit;
    box-sizing: border-box;
    margin: auto;
}

.nabBarRow {
    height: inherit;
}

button.navBarRigth_rightButton.btn.btn-primary {
    width: 96px;
    height: 43px;
    transition: 0.4s;
}

i.fas.fa-search.navBarRight_rightSearchIcon {
    margin-right: 10px;
    cursor: pointer;
}

.navBarRight_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.navBarRigth_rightButton {
	color: white;
	width: 96px;
	height: 43px;
	border: none;
	border-radius: 5px;
	background-color: #2991d6;
	box-sizing: border-box;
	transition: 0.4s;
	position: relative;
	overflow: hidden;
}


.navBar.navBarFixed {
	animation: appear 0.5s forwards;
	height: 60px;
	width: 100%;
	position: fixed;
	top: -80%;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
	z-index: 10;
	box-shadow: 0px 3px 6px #888888;
}

@keyframes appear {
	from {
		top: -80%;
	}
	to {
		top: 0%;
	}
}

.blurBackground {position: absolute;z-index: 1;width: 0px;height: inherit;background: #0000001a;top: 0;left: 0;transition: 0.4s;}

.blurAppear {
	width: 100%;
}

button.navBarRigth_rightButton {}

.banner {
    width: 100%;
    height: 760px;
    background-image: url(../images/1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

h2.bannerTitle {
    font-size: 100px;
}

p.bannerParagraph {
    font-size: 42px;
    text-align: center;
    line-height: 54px;
}

button.bannerButton.btn.btn-primary {
    width: 317px;
    height: 48px;
}

ul.navBaright_leftLinks li a.active {
    color: #0095eb;
}

.searchContainer {
    height: 0px;
    background: #0095eb;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: white;
    font-size: 18px;
    overflow: hidden;
    transition: 0.4s;
}

.searchContainerAppear {
	animation: searchContainerAppear 1s forwards;
}

@keyframes searchContainerAppear {
	from {
		height: 0px;
	}
	to {
		height: 69px;
	}
}

i.fas.fa-search.searchContainer_searchIcon, i.fas.fa-times.searchContainer_closeIcon,input.searchContainer_searchBox {position: absolute;}

i.fas.fa-times.searchContainer_closeIcon {
    z-index: 2;
    right: 17px;
    line-height: 69px;
}

i.fas.fa-search.searchContainer_searchIcon {
    z-index: 2;
    left: 17px;
    line-height: 69px;
}

input.searchContainer_searchBox {
    width: 97%;
    background: none;
    border: none;
    border-bottom: 2px solid grey;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: 20px;
    color: white;
}
i.fas.fa-search.searchContainer_searchIcon, i.fas.fa-times.searchContainer_closeIcon {
	top: 50%;
	transform: translateY(-50%);
}

i.fas.fa-times.searchContainer_closeIcon {
	cursor: pointer;
}

i.fas.fa-search.searchContainer_searchIcon {
    color: rgba(0,0,0,.5);
}

.firstContent_1_icon {
    width: 110px;
    height: 110px;
    border-radius: 110px;
    border: 2px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #2991d6;
    transition: 0.4s;
}

.hoverCol {
	background-color: #2991d6;
	color: white;
	border: 2px solid #2991d6;
}

.firstContentCol.col,.firstContentCol_middle.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.firstContentCol_middle.col {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

p.firstContent_1_paragraph {
    color: #626262;
    font-size: 14px;
}

.firstContentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

h3.firstContent_1_title {
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
}

.secondContentContainer {
    width: 100%;
    height: 657px;
    background-image: url(../images/2.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #F2F3F5;
}

.firstContentRow.row {
    display: flex;
    flex-wrap: wrap;
}

.secondContent.container {
    text-align: center;
}

h2.secondContentRow_1_title {font-size: 42px;line-height: 42px;font-weight: 300;margin: 50px auto;}

h1.secondContentRow_2_col_title {
    color: #0095eb;
    font-size: 90px;
    line-height: 90px;
}

p.secondContentRow_2_col_paragraph {
    font-size: 25px;
    line-height: 29px;
    font-weight: 300;
}

.secondContentRow_2.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 50px 0;
}

p.secondContentRow_2_col_paragraph::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #e2e2e2;
    margin: 15px auto;
}

.thirdContentContainer {
    width: 100%;
    height: 154px;
    background-color: #0095eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.thirdContent.container {
    text-align: center;
}

h2.thirdContent_title {
    font-size: 30px;
    font-weight: 200;
    line-height: 34px;
    color: white;
}

.fourthContentCol {
    height: 340px;
    overflow: hidden;
    cursor: pointer;
}

.fourthContentCol_2 {
    background-image: url(../images/4.jpg);
    background-size: cover;
    height: 100%;
}


.fourthContentCol_1 {
    background-image: url(../images/3.jpg);
    background-size: cover;
    height: 100%;
}

.fourthContentCol_3 {
    background-image: url(../images/5.jpg);
    background-size: cover;
    height: 100%;
}

.fourthContentCol_4 {
    
    background-size: cover;
    height: 100%;
}

.fourthContentCol_image {
	position: absolute;
	left: 50%;
	top: 0;
	transition: 0.4s;
	transform: translateY(0px) scale(1.2,1.2) translateX(-50%);
}

.fourthContentCol_buttons,
.fifthContent_card_buttons {
	position: absolute;
	bottom: 0%;
	left: 0;
	cursor: pointer;
	color: white;
	transition: 0.4s;
	transform: translateY(100%);
}
.fourthContentCol_buttons_col,
.fifthContentCol_buttons_col {
    text-align: center;
    font-size: 28px;
    background-color: #0095ebd6;
}

.fourthContentContainer {
    height: 458px;
}


.fourthContentCol_buttons_col_shareIcon {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.fourthContentCol_image_hover {
    transform: translateY(-20px) scale(1.2,1.2) translateX(-50%);
    opacity: 0.5;
}

.fourthContentCol_buttons_appear,
.fifthContentCol_buttons_appear {
	transform: translateY(0px);
}

.fourthContentCol_buttons_col_hover {
	color: #0095ebd6;
	background-color: white;
}

.fifthContent_card {
    width: 374px;
    height: 543px;
}

.fifthContent_card_mask {
    width: 358px;
    height: 253px;
    overflow: hidden;
}

.fifthContent_card_buttons {
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: 0.4s;
	transform: translateY(100%);
}


.fifthContent_card_effect {
    width: 358px;
    height: 253px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.fifthContent_card_effect_image {
    height: inherit;
    width: 100%;
    position: absolute;
	left: 0%;
	top: 0%;
	transform: translateY(0px) scale(1.2,1.2);
	transition: 0.4s;
}

.fifthContent_card_effect_image_1 {
	background: url(../images/7.jpg);
	background-size: cover;
}

.fifthContent_card_effect_image_2 {
	background: url(../images/8.jpg);
	background-size: cover;
}

.fifthContent_card_effect_image_3 {
	background: url(../images/9.jpg);
	background-size: cover;
}

.fifthContent_card_effect_image_4 {
	background: url(../images/10.jpg);
	background-size: cover;
}

.fifthContent_card_effect_image_5 {
	background: url(../images/11.jpg);
	background-size: cover;
}

.fifthContent_card_effect_image_6 {
	background: url(../images/12.jpg);
	background-size: cover;
}

.fifthContent_card_effect_image_hover {
    transform: translateY(-20px) scale(1.2,1.2);
    opacity: 0.5;
}

h2.fifthContent_title {
    text-align: center;
    font-size: 42px;
    line-height: 42px;
    font-weight: 300;
}

h3.fifthCotent_card_detail_title {
    font-size: 30px;
    line-height: 34px;
    font-weight: 300;
}

p.fifthCotent_card_detail_paragraph {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #626262;
}

.fifthCotent_card_detail_links {
    display: flex;
    justify-content: space-between;
}

.fifthContent_card_buttons_hover {
	color: #0095ebd6;
	background-color: white;
}

span.fifthCotent_card_detail_links_like i {
    color: #0095eb;
    transition: 0.4s;
}

span.fifthCotent_card_detail_links_like i:hover {-webkit-text-fill-color: #0095eb;}

h2.fifthContent_title {
    padding: 30px 0;
}

.fifthCotent_card_detail {
    overflow: hidden;
    padding: 10px 15px;
}

.sixthContentContainer {
    width: 100%;
    height: 181px;
    background-color: #edeef0;
    background-image: url(https://themes.muffingroup.com/betheme/wp-content/uploads/2017/02/home_betheme_sectionbg2.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.sixthContent.container {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
    flex-wrap: wrap;
}

.sixthContent_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.sixthContent_text h3 {
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 0px;
}

.sixthContent_text i {
    color: #0095eb;
    margin-right: 5px;
}

.sixthContent button {
    width: auto;
    padding: 10px;
}

.seventhContent.container h2:before {
    content: "That's not all...";
    display: block;
    margin-bottom: 7px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: #DEDEDE;
}

.seventhContent.container h2 {
    text-align: center;
    color: #0095eb;
    font-size: 42px;
    line-height: 42px;
    font-weight: 300;
    letter-spacing: 0px;
}

.seventhContentContainer {
    width: 100%;
    height: 677px;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #3e414c;
    background-image: url(https://themes.muffingroup.com/betheme/wp-content/uploads/2017/02/home_betheme_sectionbg3.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

.seventhContentContainer hr {
    background-color: rgba(255,255,255,.08);
    color: rgba(255,255,255,.08);
}

.seventContent_feature_icon {
    color: #0095eb;
    font-size: 43px;
    line-height: 60px;
}

span.seventContent_feature_text {
    padding: 0 0 0 10px;
    color: white;
    font-size: 14px;
    margin-left: 15px;
    padding-left: 10px;
}

.seventContent_feature.seventContent_feature_1 {
    display: flex;
    align-items: center;
    width: 25%;
    float: left;
    margin: 16px 0px;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
    padding: 15px;
}

.seventContent_buttons {
    text-align: center;
}

button.navBarRigth_rightButton {
}

.seventhContent_buttons_left, .seventhContent_buttons_right {
    width: 230px;
}

button.navBarRigth_rightButton.seventhContent_buttons_left,button.navBarRigth_rightButton.seventhContent_buttons_right {
    width: 230px;
}

button.navBarRigth_rightButton.seventhContent_buttons_left span,button.navBarRigth_rightButton.seventhContent_buttons_right span {
    color: #747474;
    line-height: 43px;
}

button.navBarRigth_rightButton.seventhContent_buttons_left i,button.navBarRigth_rightButton.seventhContent_buttons_right i {
    width: 43px;
    height: inherit;
    line-height: 43px;
    background-color: #80808069;
    float: left;
}

button.navBarRigth_rightButton.seventhContent_buttons_right span {
    color: white;
}

.seventContent_features {
    overflow: hidden;
}

button.navBarRigth_rightButton.seventhContent_buttons_left {
    background-color: white;
}

footer.footer a {
    text-decoration: none;
}

a.footerTitle {
    text-align: center;
    font-size: 18px;
    color: #cccccc;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.1);
}

footer.footer {color: #cccccc;width: 100%;height: 569px;background-color: #292b33;display: flex;flex-direction: column;justify-content: space-between;}

span.footerTile_be {
    color: #0095eb;
}

span.footerTitle_whiteText {
    color: white;
}

a.footerTitle:hover {
    color: #cccccc;
}

span.footerTile_be {}

a.footerTitle span:before {
    content: "  ";
    margin: 0 3px;
}

.footerContentContainer {
    margin: 80px 0px;
}

h3.footerContent_title {
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-bottom: 15px;
}

li.footerContent_comment p:first-child {
    background-color: rgba(0,0,0,.07);
    display: inline;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
}

li.footerContent_comment div p {display: inline;}

li.footerContent_comment {
    margin: 0px 0px 16px 0px;
}

.footerConetent_post_right {
    background-image: url(../images/7.jpg);
    background-size: cover;
    flex: 1;
}

.footerConetent_post {
    display: flex;
    margin-bottom: 10px;
    background: rgba(0,0,0,.1);
    box-sizing: border-box;
}

h4.footerConetent_post_left_title,p.footerConetent_post_left_content {
    font-size: 14px;
    padding: 5px 16px;
}

p.footerConetent_post_left_content {}

h4.footerConetent_post_left_title {
    color: white;
}

.footerConetent_post_left hr {
    width: 90%;
    margin: 0 auto;
    color: #A8A8A8;
}

.footerCopyRightContent.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.footerCoypyRight_paragrpaph:before {
}

.footerCopyRight:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #80808063;
    display: block;
}

.footerCopyRight {position: relative;height: 84px;display: flex;flex-direction: column;justify-content: space-around;}

p.footerCoypyRight_paragrpaph {margin-bottom: 0;}


.websites_button,
.websites_content {
	display: inline;
	position: fixed;
	right: 0;
	z-index: 1999;
	top: 40%;
	transform: translateY(-50%);
	background-color: #2C2C2C;
	transition: 0.8s;
	color: white;
	text-align: center;
	padding: 0 5px;
}

.websites_content {
    width: 30%;
    height: 100%;
    right: -30%;
    top: 50%;
    transform: translateY(-50%);
}

.websites_button {
	right: 0;
	cursor: pointer;
}

.websites_button_clicked{
	right: 30%;
}

.websites_content_clicked{
	right: 0;
}

.websites_button span:first-child {
	font-size: 32px;
    font-weight: 600;
    display: block;
    animation: onOff .8s forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes onOff {
	from {
		opacity : 1;
	}
	to {
		opacity :0.2;
	}
}

ul.websites_content_links li {
    list-style: none;
}

ul.websites_content_links li a {
    color: #dbdbdb;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

ul.websites_content_links li:hover {
    background-color: #363636;
}

ul.websites_content_links li:last-child a {
    color: #007bff;
}

ul.websites_content_links li:last-child:hover {
    background-color: #007bff;
}

ul.websites_content_links li:last-child:hover a {
    color: white;
}

.websites_content.websites_content_clicked h3 {
    text-align: center;
    color: #fff;
    background: #363636;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 18px;
}

.websites_content.websites_content_clicked h3:after {
    content: 'Scroll down for more';
    display: block;
    font-size: 12px;
    font-weight: 100;
}

.websites_content_imgaes {
    height: 100%;
    width: 100%;
}

.websites_content_image {
    float: left;
    height: 13%;
    width: 50%;
    background-image: url(../images/6.jpg);
    background-size: cover;
    cursor: pointer;
}

.websites_content_blur {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262525;
    opacity: 0;
    transition: 0.4s;
    cursor: pointer;
}

.websites_content_image:hover .websites_content_blur {
    opacity: 0.9;
}

p.websites_content_blur_text {
    font-size: 18px;
}

p.websites_content_blur_text span {
    color: #007bff;
}

.seventContent_feature.seventContent_feature_1:hover {}

.seventContent_feature.seventContent_feature_1:hover {
    background-color: #0095eb;
}

.seventContent_feature.seventContent_feature_1:hover i {
    color: white;
}

.seventContent_feature.seventContent_feature_1 i {
    transition: 0.4s;
}