* {margin: 0; padding: 0}
.headerSearch {
    position: absolute;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    width: 72%;
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    line-height: 45px;
    margin-left: 100%;
}

header.header {
    position: fixed;
    height: 45px;
    width: 100%;
    background-color: #313131;
    color: white;
    z-index: 5;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
}

.headerContent {
    display: flex;
    width: 805;
    width: 80%;
    height: inherit;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.headerCartIcon, 
.headerAppleLogo {
	cursor: pointer;
	transition: 0.4s;
}

.headerLinks {
    width: 72%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.headerLinks a {
    color: white;
    text-align: center;
    text-decoration: none;
    transition: 0.4s;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    font-size: 14px;
}

.headerCartIcon:hover, 
.headerAppleLogo:hover,
.headerLinks a:hover {
	opacity: 0.5;
}

.headerSearchIcon {
    position: absolute;
    z-index: 2;
}

input.headerSearchBox {
    position: absolute;
    width: 100%;
    background: none;
    border: none;
    box-sizing: border-box;
    padding-left: 30px;
    font-size: 18px;
    height: inherit;
    color: white;
}

.disappear {
	opacity: 0;
	visibility: hidden;
}

a.linkDisappear {
	animation: linkDisappear 0.08s forwards;
}

@keyframes linkDisappear {
	from {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
	to {
		opacity: 0;
		visibility: hidden;
		transform: scale(0.5);
	}
}

.headerSearch.headerSearchAppear {
	animation: headerSearchAppear 0.4s forwards;
	animation-delay: 0.5s;
}

@keyframes headerSearchAppear {
	from {
		margin-left: 100%; 
		opacity: 0;
		visibility: hidden;
	}
	to {
		margin-left: 0%;
		opacity: 1;
		visibility: visible;
	}
}

i.fas.fa-search.searchIcon {
    margin-left: 5px;
}

.resultContent {
	width: 72%;
	height: 0px;
	position: absolute;
	top: 45px;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
	overflow: hidden;
}

.resultAppear {
	animation: resultAppear 1s forwards;
}

@keyframes resultAppear {
	from {
		height: 0px;
	}
	to {
		height: 400px;
	}
}

.blur {
	width: 100%;
	height: 100%;
	background-color: #0a0a0a82;
	position: absolute;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
}

.blurAppear {
	animation: blurAppear 0.4s forwards;
}

@keyframes blurAppear {
	from {
		opacity: 0;
		visibility: hidden;
	}	
	to {
		opacity: 1;
		visibility: visible;
	}
}

html, body {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    top: 45px;
}

.firstContentContainer,
.secondContentContainer,
.thirdContentContainer,
.fourthContentContainer,
.fifthContentContainer {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #FAFAFA;
	flex-direction: column;
	cursor: pointer;
	margin-bottom: 10px;
}

.firstContentContainer {
	height: 244px;
	justify-content: center;
}

.secondContentContainer {
	height: 692px;
	background-image: url(../images/1.jpg);
	background-size: cover;
}

.thirdContentContainer {
	height: 692px;
	background-image: url(../images/2.jpg);
	background-size: cover;
}

.fourthContentContainer {
	height: 692px;
	background-image: url(../images/3.jpg);
	background-size: cover;
}

.fifthContentContainer {
	height: 1782px	;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.fifthContent_first {
	width: 50%;
	background-image: url(../images/4.jpg);
	background-size: cover;
	height: 590px;
}

.fifthContent_second {
	width: 50%;
	background-image: url(../images/5.jpg);
	background-size: cover;
	height: 590px;
}

.fifthContent_third {
	width: 50%;
	background-image: url(../images/6.jpg);
	background-size: cover;
	height: 590px;
}

.fifthContent_fifth {
	width: 50%;
	background-image: url(../images/7.jpg);
	background-size: cover;
	height: 590px;
}

.firstContent,
.secondContent {
    width: 80%;
    text-align: center;
}

.firstContent p,
.secondContent p{
    margin: auto;
    word-break: break-all;
    white-space: pre-line;
}

.firstContent h2,
.secondContent h2 {
    font-size: 32px;
}

.firstContent p, 
.firstContent a,
.secondContent p,
.secondContent a {
    font-size: 21px;
}

.secondContent {
	margin-top: 35px;
	color: white;
}

.twoLinks {
}

.twoLinks a.link1, .twoLinks a.link2 {
    padding: 0 10px;
    text-decoration: none;
}

.twoLinks a {
	color: #0070C9;
}
.twoLinks a.link1:hover,
.twoLinks a.link2:hover {
	text-decoration: underline;
}

footer.footer {
    width: 80%;
    text-align: center;
    color: #8C8C8C;
    margin: auto;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 12px;
}

ul.footerLinks li {
    list-style: none;
    margin-bottom: 5px;
}

.footer_2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    padding: 10px 0;
}

p.fooder_31 {
    text-align: left;
}

.footer_32 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer p {
    line-height: 16px;
    text-align: left;
}

.footer_322 a,
.footer_323 a {
    color: #8C8C8C;
    text-decoration: none;
}

.footer_322 a:hover,
.footer_323 a:hover {
    text-decoration: underline;
}

hr.footerHorizontalLine {
    margin: 10px 0;
}

h4.footerTitle {
    margin-bottom: 5px;
}

.footerContainer {
    background-color: #f2f2f2;
}

.congratsUsa {
	width: 100%;
	height: 736px;
	opacity: 1;
}

.congratsUsa video {
    width: 100%;
    height: 100%;
}

.congratsUsaHide {
	animation: congratsUsaHide 1s forwards;
}

@keyframes congratsUsaHide {
	0% {
		height: 736px;
		opacity: 1;
	}
	50% {
		opacity: 0.5;
		height: 600px;
	}
	100% {
		opacity: 0;
		height: 0px;
	}
}


.footer_323 {
    display: flex;
    align-items: center;
}