* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    min-width: 400px;
    background-color: #dcdde1;
}

a {
    text-decoration: none;
}

.header ul li.active a {
    color: #40739e;
}

.header {
    height: 50px;
    color: #ecf0f1;
    background-color: #3498db;
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;
}

.header .header-logo {
    float: left;
    text-transform: uppercase;
    line-height: 50px;
    cursor: pointer;
    transition: 0.4s;
}

.header .header-logo:hover {
    color: #273c75;
}

.header .header-links {
    float: right;
    line-height: 50px;
}

.header ul li {
    list-style: none;
    float: left;
    margin-left: 20px;
    text-transform: uppercase;
}

.header ul li a {
    color: #ecf0f1;
    transition: 0.4s;
    font-weight: 700;
}

.header ul li a:hover,
.header .header-show-menu:hover {
    color: #7f8c8d;
}

.header .header-show-menu {
    float: right;
    line-height: 50px;
    cursor: pointer;
    transform: 0.4s;
}

.header ul li.hide-menu,
.header .header-show-menu {
    display: none;
}

.content {
    width: 100%;
    height: 100%;
    text-align: justify;
    max-width: 100%;
    margin: auto;
}

p.content-paragraph {
    font-style: italic;
    margin: 10px 0 0 0;
}

@-webkit-keyframes header-links-appear {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

.header-links-disappear {
    animation: header-links-disappear 1s forwards;
}

@-webkit-keyframes header-links-disappear {
    to {
        transform: translateX(100%);
    }
    from {
        transform: translateX(0%);
    }
}

.header-fixed {
    position: fixed;
    top: -55%;
    left: 0;
    z-index: 1000;
    width: inherit;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px #000000a8;
    animation: appear 0.5s forwards;
}

@-webkit-keyframes appear {
    from {
        top: -55%;
    }
    to {
        top: 0%;
    }
}

.content-3blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.content-block {
    width: 400px;
}

.content-block-icon {
    text-align: center;
    font-size: 60px;
}

h2.content-3blocks-title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #2f3640;
    padding: 10px;
}

.banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;
}

.banner-pre,
.banner-next {
    position: absolute;
    z-index: 2;
    font-size: 44px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #00a8ff;
    transition: 0.4s;
}

.banner-next {
    right: 10px;
}

.banner-pre {
    left: 10px;
}

.banner-pre:hover,
.banner-next:hover {
    opacity: 0.5;
}

.banner-images {
    position: relative;
    height: inherit;
}

.banner-images div {
    height: 100%;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;
}

div.banner-active {
    transform: translateX(0%) scale(1);
    opacity: 1;
}

.banner-next-button-current {
    animation: banner-next-button-current 1s forwards;
}

@-webkit-keyframes banner-next-button-current {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 1;
    }
}

.banner-next-button-prev {
    animation: banner-next-button-prev 1s forwards;
}

@-webkit-keyframes banner-next-button-prev {
    from {
        transform: translateX(-100%);
        opacity: 1;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.banner-pre-button-current {
    animation: banner-pre-button-current 1s forwards;
}

@-webkit-keyframes banner-pre-button-current {
    0% {
        transform: translateX(0%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%) scale(1);
        opacity: 1;
    }
}

.banner-pre-button-next {
    animation: banner-pre-button-next 1s forwards;
}

@-webkit-keyframes banner-pre-button-next {
    from {
        transform: translateX(100%) scale(1);
        opacity: 1;
    }
    to {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

img.img-alternative {
    display: none;
}

@media only screen and (max-width: 1023px) {
    .banner {
        display: none;
    }
    .content img.img-alternative {
        display: block;
        width: 100%;
    }
}

footer.footer {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: #3498DB;
    padding: 0 30px;
    color: #ecf0f1;
    font-size: 20px;
    clear: both;
}

.footer-text {
    float: left;
}

.footer-links {
    float: right;
}

.footer-links,
.footer-text {
    line-height: 60px;
}

.footer-links a {
    margin-left: 30px;
    color: #ecf0f1;
    transition: 0.4s;
    transform: rotate(0deg);
}

.footer-links a:hover i {
    color: #b2bec3;
    animation: test 1s forwards;
}

@-webkit-keyframes test {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.scroll-top {
    animation: popUp 0.5s forwards;
    animation-iteration-count: infinite;
}

@-webkit-keyframes popUp {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(10px);
    }
}

.about {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 15px 0;
}

.about-content {
    width: inherit;
    height: 393px;
}

h2.about-title {
    text-align: center;
    text-transform: uppercase;
    color: #2f3640;
}

.about-content-buttons {
    width: 10%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.about-content-details {
    width: 89%;
    float: right;
    display: inline;
    position: relative;
    height: 100%;
    background-color: slategray;
    text-align: center;
    overflow: hidden;
}

.about-content-buttons img {
    height: 70px;
    display: block;
    margin: 5px 0;
    cursor: pointer;
}

.about-content-details div.about-content-detail {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transform: scale(1) translateY(0);
}

.about-content-details div.about-content-detail.about-content-detail-active {
    opacity: 1;
    visibility: visible;
}

.about-content-detail-para {
    width: 30%;
    float: left;
    box-sizing: border-box;
    padding: 32px 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content-detail-images {
    width: 70%;
    height: 100%;
    float: right;
}

img.about-content-image-active {
    border: 2px solid yellow;
}

.about-content-detail-current {
    animation: about-content-detail-current 1s forwards;
}

@-webkit-keyframes about-content-detail-current {
    from {
        transform: scale(1) translateY(0%);
    }
    to {
        transform: scale(.8) translateY(-112%);
    }
}

.about-content-detail-next {
    animation: about-content-detail-next 1s forwards;
    animation-delay: 0.01s;
}

@-webkit-keyframes about-content-detail-next {
    from {
        transform: scale(1) translateY(100%);
        opacity: 1;
        visibility: visible;
    }
    to {
        transform: scale(1) translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.about-content-detail-current2 {
    animation: about-content-detail-current2 1s forwards;
}

@-webkit-keyframes about-content-detail-current2 {
    from {
        transform: scale(1) translateY(0%);
    }
    to {
        transform: scale(.8) translateY(112%);
    }
}

.about-content-detail-next2 {
    animation: about-content-detail-next2 1s forwards;
    animation-delay: 0.01s;
}

@-webkit-keyframes about-content-detail-next2 {
    from {
        transform: scale(1) translateY(-100%);
        opacity: 1;
        visibility: visible;
    }
    to {
        transform: scale(1) translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.header-links-appear {
    animation: header-links-appear 1s forwards;
}

.contact {
    width: 100%;
    margin: 20px 0;
    box-sizing: border-box;
    height: 400px;
    text-align: center;
    padding: 0 30px;
}

.contact-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #2980b9, transparent);
}

.contact-container-left {
    height: 100%;
    width: 40%;
    float: left;
}

.contact-container-right {
    height: 100%;
    width: 60%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.contact-container-left {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

ul.contact-container-left-info {
    list-style: none;
    text-align: left;
}

li.contact-container-left-info-title {
    font-size: 20px;
    font-weight: 700;
    color: lightcyan;
    margin-bottom: 0px;
}

.contact-mail {
    text-align: left;
}

.contact-container-right label {
    width: 100%;
    display: block;
    text-align: left;
}

.contact-container-right input,
.contact-container-right textarea {
    width: 100%;
    border: none;
    background: none;
}

.contact-container-right form {
    width: 60%;
}

button.contact-button {
    width: 100%;
    height: 14%;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    transition: 0.4s;
    font-size: 20px;
    font-weight: 700;
    box-sizing: border-box;
}

button.contact-button:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}


/* Responsive design */

@media only screen and (max-width: 819px) {
    .footer {
        height: auto;
    }
    .footer-text,
    .footer-links {
        line-height: 30px;
        width: 100%;
        text-align: center;
        float: none;
    }
}

@media only screen and (max-width: 414px) {
    .content-block {
        padding: 0 30px;
    }
    .about-content-detail-para {
        align-items: center;
        font-size: 11px;
        text-align: right;
    }
    .about-content-detail-images {
        background-position: center;
    }
}

@media only screen and (max-width: 360px) {
    .content-block {
        padding: 0 30px;
    }
    .about-content-detail-para {
        align-items: center;
        font-size: 11px;
        text-align: right;
        line-height: 12px;
    }
    .about-content-detail-images {
        background-position: center;
    }
}

@media only screen and (max-width: 750px) {
    .header ul li.hide-menu,
    .header .header-show-menu {
        display: block;
    }
    .header .header-links {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #2c3e50;
        transform: translateX(100%);
        z-index: 10000;
    }
    .header .header-links li {
        float: none;
        text-align: center;
        margin-bottom: -3px;
        cursor: pointer;
        margin: 0;
        transition: 0.4s;
    }
    .header .header-links .hide-menu {
        position: absolute;
        top: 0%;
        right: 2%;
        font-size: 30px;
        background: none;
    }
    .header .header-links li:first-child {
        margin-top: 50px;
    }
    .header ul li:hover {
        background-color: gray;
    }
    .about-content-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        float: none;
        height: 20%;
    }
    .about-content-details {
        display: block;
        width: 100%;
        float: none;
        height: 80%;
        position: relative;
        overflow: hidden;
    }
}